APP_ENV=dev
APP_URL=https://twitch-tts.ddev.site
APP_SECRET=change-me-generate-a-long-random-string
TWITCHTTS_HTTP_PORT=7317
TWITCHTTS_HTTPS_PORT=8945
TLS_CERT_COMMON_NAME=localhost

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=https://twitch-tts.ddev.site/auth/twitch/callback

DATABASE_PATH=var/app.sqlite